.collapsible {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.collapsible--trigger {
  cursor: pointer;
  background: #eee;
  padding: 1rem;
}

.collapsible--trigger[aria-disabled='true'] {
  opacity: 0.5;
  cursor: not-allowed;
}

.collapsible--content {
  padding: 1rem;
}

.collapsible--content[aria-hidden='true'] {
  display: none;
}
